body{
    text-align: center;
    background-color: #f7f7f7;
    margin: 0;

}
nav{
    background-color: #f7f7f7;
    shape-outside: margin-box;
}
#nav-list{
    list-style: none;
}
.nav-el{
    list-style: none;
    display: inline-block;
    width: auto;
    height: auto;
    margin: 1% 1%;
    border-color: azure;

}
.nav-home{
    list-style: none;
    display: inline-block;
}
#nav-logo{
    width: auto;
    height: 7vh;
}
.nav-a{
    list-style: none;
    font-family: sans-serif;
    font-weight: bold;
    color: grey;
}
#services{
    background-color: red;
    border-color: azure;
}
#programs{
    background-color: orange;
}
#events{
    background-color: #FFE900;
}
#home{
    background-color: lightgreen;
}
#resources{
    background-color: lightblue;
}
#aboutus{
    background-color: plum;
}
#getinvolved{
    background-color: pink;
}

.qa{
    height: 10vh;
    margin: 2%;

}
.home-main{
    display: inline-block;
}
.home-main-el{
    text-align: center;
    height: 30vh;
    width: 50vw;
    padding-top: 10%;
}
footer{
    background-color: #f7f7f7;
    margin: 0;
}